@charset "UTF-8";

/* pagination */
ul.pagination, ul.pagination .page-item, ul.pagination .page-link {
  display: inline-flex;
  margin-top: 10px;
}
/* list table view */
.table {
  background-color: #fff;
}